body{
    margin: 0;
    background-color: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    margin: 50px;
}

.btn{
    color: rgb(235, 235, 235);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: rgb(16, 16, 16);
}

.show-results{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(235, 235, 235);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}